/* 
    #BF4F45; red
    #650F08; darkred
    #F2D194; tan
    #C7AC76; darktan
    #055946; green
 */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    overflow:  auto;
}

.serif {
    font-family: 'Baloo Chettan', cursive;
}

.uppercase {
    text-transform: uppercase;
}

nav.my-nav {
    background-color: #BF4F45;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    border: 0;
}

.my-nav .container {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.nav-links.left {
    flex: 1;
}

ul.nav-links {
    display: flex;
}

.nav-links li {
    display: flex;
}

.nav-links li a i {
    font-size: 30px;
}

.nav-links li a span {
    margin: 0;
    padding-left: 10px;
}

.nav-links li a {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    transition: all .3s;
    border-bottom-color: #650F08;
}

.nav-links li a:hover {
    transform: scale(1.2);
    padding: 10px 20px;
}

.intro-jumbotron {
    background-color: #BF4F45;
    color: white; 
    text-align: center;
    padding: 150px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}