
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        
        title= title || 'Burrito Place'
        link(href="/styles/style.css", rel="stylesheet")
        
        block css
        block head
    body
                  
        block intro
            
        block content
                
        script(src="/angular/angular.min.js")
        block js